@import "../variables";

.about {
  .wrapper {
    padding-bottom: 0px;
  }

  .footer {
    position: relative;

  }

  .footer-ctr__txt {
    color: #f5f8fc;
  }

  &-wrapper {
    margin-top: 130px;

  }

  &-header {
    padding-bottom: 40px;

    &__text {
      color: #656e8d;
      text-align: center;
      width: 60%;
      margin: 0 auto;
      padding-bottom: 65px;
      line-height: 1.7;
      font-size: 20px;
      @include bp(mobile-xsmall) {
        font-size: 17px;
      }

      @include bp(mobile) {
        width: 100%;
        font-size: 17px;
      }

      span {
        color: #4b5ba4;
      }
    }

    &__img {
      width: 7%;
      margin: 0 auto;
      @include bp(mobile) {
        width: 20%;
      }
    }

    &__title {
      text-align: center;
      color: #5667ac;
      font-size: 51px;

      @include bp(mobile) {
        font-size: 35px;
      }

      @include bp(mobile-xsmall) {
        font-size: 42px;
      }

    }
  }

  .footer-ctr__icon {
    color: #17d9ae;
  }

  .blog-list__item {
    width: 19.93%;
    float: left;
    padding: 11px 11px;
    @include bp(mobile) {
      width: 100%;
    }
  }

  .blog-card {
    top: 0;
    cursor: pointer;
    @include bp(mobile) {
      width: 100%;
    }
  }

  .blog-card__cover {
    object-fit: contain;
  }

  .blog-card__content {
    text-align: center;
    min-height: 60px;
  }

  .blog-card__top {
    height: 85px;
  }

  .blog-card:hover {
    box-shadow: none !important;
    background: white !important;
    position: relative;
    transform: translateY(-10px);
  }

  .blog-card:hover .blog-card__overlay {
    opacity: 0 !important;
  }

  .blog-card__cnt {
    padding: 7px 0;
  }

  .blog-card:hover .blog-card__title, .blog-card:hover .blog-card-inf {
    color: inherit;
  }

  .image-light-box {
    display: block;
    width: 50%;
    margin: 0 auto;
    display: flex;
    position: fixed;
    transform: translateY(-50%);
    top: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99;
    left: 0;
  }

  .image-box-overlay {
    position: fixed;
    top: 0;
    background-color: #1b1b1b94;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 9;
  }

  .footer-ctr__txt a {
    color: #4262c8;
    @include bp(mobile) {
      color:white;
    }

    &:hover {
      color: #2a4394;
    }
  }
}

.about-info {
  background-color: #eff3fb;
  margin-top: -105px;
  padding: 80px 0 40px;

  .custom-container {
    display: flex;
    @include bp(mobile) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    @include bp(mobile) {
      width: 50%
    }

    &_img {
      text-align: center;

      img {
        width: 30%;
        @include bp(mobile) {
          width: 45%;
        }
      }
    }

    &_text {
      padding: 10px 55px;

      p {
        line-height: 1.3;
        text-align: center;
        font-size: 14px;
        color: #828282;
      }
    }
  }

  &__number {
    text-align: center;
    padding: 17px 0 12px;
    line-height: 1.3;

    strong {
      color: #4b5da1;
      @include bp(mobile) {
        font-size: 18px;
      }
    }

    p {
      position: relative;
      @include bp(mobile) {
        font-size: 19px;
        margin-top: 15px
      }

      &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 32px;
        background-color: #17d9ae;
        @include bp(mobile) {
          top:-8px;
        }
      }
    }
  }

}

.about-why {
  background-color: #dfe7f6;
  padding: 30px 0 120px;
  @include bp(mobile) {
    padding-bottom: 20px;
  }

  &__title {
    font-size: 20px;
    color: #656e8d;
    margin-top: 30px;
    padding-bottom: 25px;
  }

  &__list {
    ul {
      width: 100%;
      column-count: 2;
      padding: 0px 81px 3px 0px;
      @include bp(mobile) {
        column-count: 1;
        padding-right: 0;
      }

      li {
        margin-bottom: 25px;
        color: #6f758a;
        font-size: 17px;
        position: relative;
        padding-left: 25px;

        &:before {
          content: '';
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background: #66cca2;
          left: 4px;
          top: 7px;
        }
      }
    }
  }
}

.media {
  background-color: #4b5ba4;
  padding: 40px 0 170px;
  position: relative;
  @include bp(mobile) {
    padding: 40px 0 225px;
  }

  &__title {
    font-size: 15px;
    margin-top: -12px;
    padding-bottom: 25px;
    color: white;
    width: 70%;
    @include bp(mobile) {
      width: 100%;
    }
  }

  .section__title {
    color: white;
  }

  &__list {


    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border-radius: 12px;

      &-img {

      }

      &--name {
        color: white;
      }

      &--date {
        color: white;
      }
    }
  }

  &__top {
    position: absolute;
    top: -63px;

    &-img {
      width: 100%;
      height: 64px;
      @include bp(mobile) {
        display: none;
      }

    }
  }
}


.item-register {
  display: flex;
  flex-direction: row;

  &--left {
    display: flex;
  }

  &--right {
    margin-left: -55px;
  }

  &_img {
    img {
      width: 51%;
      margin-top: 15px;
    }
  }
}

.about .footer-ctr__txt a{
    @include bp(mobile) {
      color: #4262c8;
    }
}


.medias .footer-ctr__txt a{
    color: white !important;
}

.about .footer__top {
  @include bp(mobile) {
    margin-top: 165px;
  }

}


.medias .footer__top {
  margin-top:0 !important;
}