@import "../variables";

.blog-detail {
  padding-top: 135px;
  @include bp(mobile){
    padding-top: 105px;
  }

  @include bp(tablet){
    .mobileTab{
      margin-bottom: 20px;
      .form-container{
        margin-bottom: 0;
        .select-box{
          border-bottom: none;
          .select-header{
            border-bottom: none;
          }
        }
      }
    }
  }

  @include bp(mobile){
    .mobileTab{
      margin-bottom: 0px;
      .form-container{
        .select-box{
          .select-header{
            input{
              top: 2px;
            }
            .form-placeholder{
              top: 15px;
              left: 14px;
            }
            &.active, &.open{
              .form-placeholder{
                top: 20px;
              }
            }
          }
        }
      }
    }
  }

  h1 {
    font-size: 32px;
    color: #4b5ba4;
    padding-bottom: 10px;
    @include bp(mobile){
      font-size: 25px;
      padding-bottom: 0;
      margin-top: 10px;
    }
  }

  .blog-card-inf {
    position: relative;
      &__title{
        color: #727a96;
      }
  }



  &__date {
    position: absolute;
    right: 0;
  }

  &__img {
    padding: 0 0 20px 0;
    height: 540px;
    @include bp(mobile) {
      height: 290px;
    }

    img {
      border-radius: 15px;
      height: 100%;
      object-fit: cover;
    }
  }

  &__social {
    text-align: center;

    &__title {
      color: #656e8d;
      font-size: 13px;

    }

    .social-group {
      margin-top: 22px;
    }
  }

  .blog-detail-list {
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    &__item {
      padding: 20px 11px;
      width: 33.33%;
    }
  }

  .blog-share {
    position: fixed;
    top: 250px;

    left: calc(50% - 650px);

    .social-group {
      display: flex;
      flex-direction: column;

      &__item {
        margin-bottom: 15px;
      }
    }
  }

  .city-uni.dorm-slider{
    background: transparent;
    .custom-container{
      padding-right: 10px;
      padding-left: 10px;
      .blog-card{
        &:hover{
          .dorm-card__cnt{
            .dorm-card__title-main,
            .blog-card-inf__title{
              color: #FFF;
            }
          }
        }
      }
    }
  }





}

.blog-text p {
  font-size: 17px;
  text-align: left;
}

.blog-text h3 {
  font-size: 25px;
  text-align: left;
}

.right-bar {
  &__wrapper {
    background-color: white;
    padding: 22px;
    box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
    border-radius: 12px;
    margin-bottom: 20px;
    h2 {
      font-size: 21px;
      color: #4b5ba4;
    }
  }
  &__category{
    &--item{
      border-bottom: 1px solid #f3f3f3;
      padding-top: 13px;
      padding-bottom: 10px;
      padding-left: 7px;
      position: relative;
      display: block;
      right: 0;
      color: #7d85a0;
      transition: all 0.3s;

      &:hover{
        color: #17d9ae;
        transform: translateX(10px);
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    &--inner{
      text-align: right;
      a{
        font-size:12px;
      }
    }
  }
}
.icon-font-arrow{
  font-size: 12px;
  margin-right: 8px;
  opacity: 0.3;
  position: relative;
  top: -2px;
}

.blog .dorm-tab__col{
  @include bp(mobile) {
    padding: 0 !important
  }
}


.blog .gallery-thumbs{
  display: none !important;
}

.blog .mobileTab{
  @include bp(mobile){
    padding: 0px;
    input{
      font-size: 14px;
    }
    .select__caret{
      width: 25px;
      height: 25px;
      font-size: 10px;
    }
  }
}

.blogShareWrapper{
  display: none;
  margin-bottom: 50px;
  .share-text{
    color: #eb6081;
    font-size: 16px;
    font-weight: 500;
    
  }
}

@include bp(mobile){
  .blogShareWrapper{
    display: flex;
    .blog-share{
      position: relative;
      top: initial;
      left: initial;
      .social-group{
        padding: 0px;
        display: block;
        border: none !important;
        margin-top: 10px;
        a{
          margin-bottom: 0px;
        }
      }
    }
  }
}


