.user {

  .select__title {
    font-size: 13px !important;
    color: #383c40;
    opacity: 0.7;
    font-weight: 500;
  }

  &-wrapper {
    margin-top: 88px;
  }

  &__list {
    margin-bottom: 50px;

    &-count {
      width: 100%;
      margin: 40px 0;
    }

    &-offer {
      &__item {
        background-color: #f5f8fc;
        display: flex;
        align-items: center;
        padding: 9px 20px;
        position: relative;
        box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
        border-radius: 9px;
        margin-bottom: 8px;
        transition: all 0.5s ease;

        &:hover {
          background-color: white;

          &__dorm {
            &-img {
              background-color: red;
            }
          }
        }
      }
    }

    &__dorm {
      display: flex;
      align-items: center;
      margin-left: 50px;

      &-wrp {
        display: flex;
        flex-direction: column;
      }

      &-img {
        &-wrp {
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 94px;
          height: 61px;
          padding: 1px;
          border-radius: 10px;
          margin-right: 18px;
        }
      }

      &-name {
        color: #5565ae;
      }

      &-location {
        font-size: 14px;
        color: #7b7b7b;

        &-svg {
          width: 3%;
        }
      }

      &-img {
        width: 65%
      }
    }

    &-date {
      font-size: 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-color: #f3f3f5;
        width: 2px;
        height: 54px;
        right: -35px;
        top: -16px;
      }
    }

    &-btn {
      position: absolute;
      right: 17px;
      width: 150px;
    }
  }

  .custom-container {
    max-width: 1160px;
  }

  &-settings {
    margin-top: 21px;

    .custom-container {
      display: flex;
      align-items: flex-start;
    }

    .login-box {
      margin: initial;
      margin-right: 20px;
      position: relative;

      &.session {
        background-color: #f5f8fc;
      }

      &__title {
        &.setting {
          color: #17d9ae;
        }
      }

      &__submit {
      }

      &--personal {
        padding: 0;
      }

      &__group {
        padding: 0;
      }

      &__wrp{
        padding: 7px 30px 24px 30px;
        background-color: white;
        border-radius: 20px;

      }
      &__wrp-first{
        background-color: #f5f8fc;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 35px 28px;
        border-bottom: 2px solid #e8ecf3;
        .form-container{
          width: 65% !important;
        }
      }

    }

    &__education {
      width: 100%;
      left: 0;
      background-color: #f5f8fc;
      padding: 11px 31px;
      height: 100%;
      margin-top: 27px;
      position: relative;

    }

    .or {
      &__title {
        &-blue {
          padding: 0;
          position: absolute;
          top: 0px;
          width: 100%;
          left: 0;
        }
      }
    }

    &__top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;

    }

    &__profil {
      display: flex;
      align-items: center;
      width: 91%;

      &-name {

        font-size: 18px;
      }

      &-img {
        width: 55%;
        border: 3px solid white;
        border-radius: 100%;
      }

      &-mail {
        margin-right: 102px;
        color: #a2a2a2;
        font-size: 13px;
      }
    }
  }

  .select__placeholder[data-v-03a9a7af] {
    font-size: 13px;
  }

  .sign-out {
    font-size: 40px;
    transition: all 0.4s;
    color: #5565ae;
    cursor: pointer;
  }

  .sign-out:hover {
    color: #3f4d8a;
  }



  .gen-text {
    display: flex;
    justify-content: space-between;
    .form-container {
      width: 46%;
    }
  }

  .logo-wrp{
    background-color: white;
    width: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 9px;
    border: 1px solid #e2e6ef;
    flex-direction: column;

    &__icon{
      font-size: 37px;
      color: #d5dae6;
      opacity: 0.7;
      margin-top: -7px;

    }
    &__title{
      font-size: 11px;
      font-weight: bold;
      color: #ebeff6;
      margin-top: -11px;
    }
  }
}

.select {
  &__title {
    font-size: 12px;
  }

  &-title {
    font-size: 13px;
    border-bottom: 1px solid #e1e7ee;
    padding-bottom: 10px;
    margin-top: 33px;
    color: #9ba2bb;
    font-weight: bold;
  }


}

