@import "../variables";

.dorm {

  &-card {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 8px 60px 0px rgba(62, 62, 141, 0.05);
    transition: all .3s ease-in-out;

    &:hover {
      box-shadow: 0px 8px 60px 0px rgba(72, 72, 125, 0.19);
      background: #4b5ba4;

      .dorm-card__title small,
      .dorm-card__title-main,
      .dorm-card__text,
      .dorm-card-price__txt,
      .dorm-card__inf .btn-txt {
        color: #fff;
      }

      .dorm-card__overlay {
        opacity: 1;
      }

    }

    //&.premium {
    //  width: 650px;
    //}

    &.female {
      color: #eb6081;

      .dorm-card__button {
        background: #eb6081;
      }

    }

    &.male {
      color: #53aee9;

      .dorm-card__button {
        background: #53aee9;
      }

    }

    // premium dorm style

    &.premium {

    }

    &-badge {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 85px;
      height: 85px;
      background: #17d3a5;
      border-radius: 50%;
      display:block;
      color: #fff;
      transform: translate(-25px, -25px);
      font-weight: 700;
      line-height: 1em;
      font-size: 14px;

      .badge_in{
        position: relative;
        top: 20px;
        .img_wrp{
          display: block;
          width: 100%;
          text-align: center;
          img{
            float: none;
            display: inline-block;
            margin: 0 0 5px 0; 
            width: 25px;
          }
        }
        span{
          display: block;
          text-align: center;
        }
      }

      // max-width: 70%;
      // position: absolute;
      // left: 10px;
      // top: 10px;
      // z-index: 99;
      // div.button{
      //   padding: 10px 14px;
      //   font-size: 14px;
      //   border-radius: 20px;
      //   min-height: auto !important;
      //   &.male{
      //         background: #53aee9 !important;
      //   }
      //   .button__icon{
      //     margin-right: 10px !important;
      //     margin-top: 0 !important;
      //     font-size: 20px !important;
      //   }
      //}

    }

    &__top {
      height: 240px;
      position: relative;
      @include bp(tablet) {
        height: 165px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
      pointer-events: none;
      user-select: none;

    }

    &__content {
      padding: 20px;
    }

    &__title {
      color: #656e8d;
      font-size: 19px;
      line-height: 1.3em;
      font-weight: 500;
      transition: all .3s ease-in-out;

      &-main {
        //white-space: nowrap;
        //max-height: 100%;
        //overflow: hidden;
        //text-overflow: ellipsis;
        transition: all .3s ease-in-out;
        min-height: 72px;
        display: flex;
        align-items: center;
      }

      small {
        color: #9098b0;
        font-size: 17px;
        font-weight: 600;
        transition: all .3s ease-in-out;
      }

    }

    &__text {
      margin-top: 10px;
      color: #2c3966;
      opacity: 0.5;
      font-weight: 500;
      transition: all .3s ease-in-out;
    }

    &-price {
      display: flex;
      align-items: center;
      margin-top: 10px;

      &__title {
        font-size: 30px;
        font-weight: 600;
        line-height: 1em;
        margin-right: 13px;
        @include bp(tablet) {
          font-size:25px;
        }
      }

      &__txt {
        font-size: 13px;
        line-height: 1.2em;
        color: #656e8d;
        opacity: .7;
        transition: all .3s ease-in-out;
      }

    }

    &__bottom {
      border-top: 1px solid rgba(172, 179, 201, 0.3);
      padding: 10px;
      display: flex;
      align-items: center;
    }

    &__inf {
      display: flex;
      align-items: center;
      flex: auto;
      padding: 5px 15px;
      border-right: 1px solid rgba(172, 179, 201, 0.3);
      font-size: 17px;
      font-weight: 600;

      &:last-child {
        border-right: 0;
      }

      .icon-font {
        margin-right: 11px;
        font-size: 21px;
      }

      .btn-txt {
        color: #727a96;
        transition: all .3s ease-in-out;
        @include bp(mobile-xsmall) {
        font-size:14px;
        }
      }

    }



    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
      background-image: linear-gradient(0deg, #4c5ca4 6%, rgba(76, 92, 164, 0.51) 100%);
      opacity: 0;
      transition: all .3s ease-in-out;
    }

    &__button.button {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      background: #acb4c3;
      color: #fff;
      border-radius: 50px;
      font-weight: 500;
      min-width: 160px;
      min-height: 45px;
      height: auto;
      padding: 7px 25px 8px;
    }

  }

}

.show-tel{
  position: absolute;
  right: 22px;
  background-color: #ee6d8d;
  color: white;
  padding: 9px 30px;
  border-radius: 12px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon{
    color: white;
    font-size: 24px;
    margin-right: 18px;
    margin-top: -6px;
  }
}


@media only screen and (max-width: 767px){
  .dorm-card-badge {
    width: 75px;
    height: 75px;
    transform: translate(-20px, -20px);;
    .badge_in{
      top: 19px;
      .img_wrp{
        img{
          width: 15px;
          margin: 0 0 5px 0; 
        }
      }
    }
  } 
}
