<!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width,initial-scale=1.0">
     <meta name="robots" content="index,follow" />
     <link rel="icon" href="<%= BASE_URL %>favicon.ico">
     <title>Aradığın Tüm Özel Öğrenci Yurtları Burada! | Yurtlar Burada</title>
     <meta name=description data-vue-meta=true content="Türkiye'nin Ödüllü İlk Yurt Tanıtım Rehberi yurtlarburada.com! Tüm Özel Öğrenci Yurtları ve Yurt Fiyatları burada!">
     <meta name=keywords data-vue-meta=true content="yurtlar burada, kız yurtları, erkek yurtları, özel yurt fiyatları, özel yurtlar, öğrenci yurdu, öğrenci pansiyonu">
     <link rel="dns-prefetch" href="#" />
     <meta name=twitter:site content=@yurtlarburada><meta name=twitter:card content=summary>
     <meta name="twitter:creator" content="yurtlarburada">
     <meta name="twitter:title" content="Aradığın Tüm Özel Öğrenci Yurtları Burada!">
     <meta name="twitter:description" content="Türkiye'nin Ödüllü İlk Yurt Tanıtım Rehberi yurtlarburada.com">
     <meta name="twitter:image:src" content="<%= BASE_URL %>logo.png">
     <meta name=twitter:site content=@yurtlarburada><meta name=twitter:card content=summary>
     <meta name="twitter:creator" content="yurtlarburada">
     <meta name="twitter:title" content="Aradığın Tüm Özel Öğrenci Yurtları Burada!">
     <meta name="twitter:description" content="Türkiye'nin Ödüllü İlk Yurt Tanıtım Rehberi yurtlarburada.com">
     <meta name="twitter:image:src" content="<%= BASE_URL %>logo.png">
     <meta property="og:url" content="https://www.yurtlarburada.com">
     <meta property="og:title" content="Aradığın Tüm Özel Öğrenci Yurtları Burada!">
     <meta property="og:image" content="<%= BASE_URL %>logo.png"/>
     <meta property="og:description" content="Türkiye'nin Ödüllü İlk Yurt Tanıtım Rehberi yurtlarburada.com">
     <meta property="og:site_name" content="yurtlarburada.com">
     <meta property="article:author" content="https://www.facebook.com/yurtlarburada">
     <meta property="article:publisher" content="https://www.facebook.com/yurtlarburada">
    <!-- Google Verification -->
     <meta name="google-site-verification" content="4wDzkkvX_1O8alG21iIvy2vH2unSc_Zg-Fpl1LM98TY" />
    <!-- End Google Verification -->   
    <!-- Yandex Verification -->
    <meta name="yandex-verification" content="6b6b13cad21c0b31" />
    <!-- End Yandex Verification -->
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KGVTQV8');</script>
    <!-- End Google Tag Manager -->
    <meta name="ahrefs-site-verification" content="688cec6dfb9fb5f3d8f809e8497e2f9aee80f44148e37561dea5d16ede15b6c3">
    </head>
  <body>
    <noscript>
      <strong>yurtlarburada.com doesn't work properly without JavaScript!</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3860264-2', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGVTQV8"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


  </body>
</html>
