<template>
  <div class="blog-wrapper">
    <blog-header />
    <div class="subpage__inner">
      <SubpageNav :links="links" />
      <container>
        <div class="blog-list col-xl-10 offset-xl-1">
          <div class="result-bracket__title">
            <span class="result-bracket__count">{{ blog.length }}</span> Adet Bulundu!
          </div>
          <div class="blog-list__item" v-for="blog in blog" :key="blog.id">
            <blog-card :blog="blog"/>
          </div>
          <div class="blog-list__bottom">
            <v-button
              class="button--stroke round"
              title="Daha Fazla"
            />
          </div>

          <Advert />
        </div>
      </container>
    </div>
  </div>
</template>

<script>
import BlogHeader from '@/components/Blog/BlogHeader'
import BlogCard from '@/components/Blog/BlogCard'
import SubpageNav from '@/components/SubpageNav'
import Advert from '@/components/Advert'

export default {
  name: 'Blog',
  components: {
    BlogHeader, SubpageNav, BlogCard, Advert
  },
  data () {
    return {
      links: [
        {
          id: 0,
          title: 'Kategori 1',
          to: '/blog/kategori1'
        },
        {
          id: 1,
          title: 'Kategori2',
          to: '/blog/kategori2'
        }
      ],
      blog: [
        {
          id: 0,
          cover: require('@/assets/img/blog/1.jpg'),
          date: '18 Mart 2018',
          title: 'Funniesttttttt Results Day Tweets 2018',
          author: 'Muhammed Erdem'
        },
        {
          id: 1,
          cover: require('@/assets/img/blog/2.jpg'),
          date: '18 Mart 2018',
          title: 'Most Unusual Student  Accommodation Requests Revealed accounts',
          author: 'Muhammed Erdem'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/scss/components/blog";
</style>
