<template>
  <div class="uni-detail__wrp">
    <subpage-header :page-info="pageInfo">
      <v-link
        class="button--more color-white subpage-header__btn"
        title="Devamını Oku"
        icon="icon-arrow-long-right"
        icon-position="right"
        to="/sehir-detay"
        slot="button"
      />
    </subpage-header>
    <div class="subpage__inner uni-detail__inner">
      <SubpageNav :links="links"/>
      <transition name="fade-up">
        <router-view />
      </transition>
    </div>
    <CityDormCard />
  </div>
</template>

<script>
import SubpageHeader from '@/components/SubpageHeader'
import UniCard from '@/components/UniCard'
import SubpageNav from '@/components/SubpageNav'
import UniInfoCard from '@/components/UniInfoCard'
import CityDormCard from '@/components/CityDormCard'
export default {
  name: 'CityDorms',
  components: {
    SubpageHeader, UniCard, SubpageNav, UniInfoCard, CityDormCard
  },
  data () {
    return {
      pageInfo: {
        title: '<span class="color-light-green">İzmirdeki </span>Yurtlar',
        text: 'Üniversiteyi kazandığımızda her birimiz farklı  şehirlere yönlenmiş ve üniversiteyi\n' +
            'kazandığımız şehir veya üniversite hakkında bir.',

        img: require('@/assets/img/sehir-obj/izmir.png'),
        numbers: [
          {
            id: 0,
            count: 12,
            title: 'Üniversite',
            icon: require('@/assets/img/icon-dorm-female.svg')
          },
          {
            id: 1,
            count: 610,
            title: 'Kayıtlı Yurt',
            icon: require('@/assets/img/icon-dorm-male.svg')
          }
        ]
      },
      links: [
        {
          id: 0,
          title: 'Hakkında',
          to: '/sehir-detay'
        },
        {
          id: 1,
          title: 'İlçeler',
          to: '/sehir-detay/ilceler'
        },
        {
          id: 2,
          title: 'Üniversiteler',
          to: '/sehir-detay/universiteler'
        }
      ]
    }
  },
  methods: {
    toggle (index) {
      this.accordions[index].active = !this.accordions[index].active
    }
  },
  created () {
  }
}
</script>

<style lang="scss">
  @import "../assets/scss/components/uni-detail";

</style>
