<template>
  <div class="custom-container">
    <div class="wrapper">
      <h1>Gizlilik Politikası</h1>
      <p>1. Veri Toplama:&nbsp;</strong>Bu sitenin kullanımı sırasında, internet servis sağlayıcının adı, bizi ziyaret ederken kullandığınız site, IP adresleri ve istenen dosyaların adları gibi, doğrudan kişisel referans içermeyen erişim verilerini toplayacağız. Verilerinizle ilgili yetkili kurum bu beyanın sonunda bulunabilir. Eğer bize kişisel bilgilerinizi gönderiyorsanız (örneğin geri bildirim fonksiyonunu kullanırken), bu verilerin toplanması, gelişimi, kullanımı ve iletimi yalnızca talep ya da hizmetin yerine getirilmesi için gerekli olacak ölçüde gerçekleşecektir. Ancak bu kişisel bilgileri reklam amacıyla üçüncü şahıslara iletmeyeceğiz.</p>

      <p>2. Çerezler:</strong>&nbsp;Bunun yanı sıra, bu çerezlerden daha sonraki bir tarihte bilgiler elde etmek suretiyle sitedeki geziniminizi kolaylaştırmak amacıyla bilgisayarınıza çerezler (küçük boyutlu dosyalar) yerleştirilecektir. Bilgisayarınızı, depolanmadan önce sizin onayınızı isteyecek şekilde ayarlayarak bilgisayarınızda çerezlerin depolanmasını engelleyebilirsiniz. Ayrıca depolanan çerezleri istediğiniz anda silebilirsiniz. Tarayıcınızın kullanma kılavuzunda daha fazla bilgi bulabilirsiniz. Çerezlerin yerleştirilmesini kabul etmezseniz ya da silerseniz arızalar meydana gelebilir.</p>

      <p>3. Google Analytics:</strong>&nbsp;Bu site Google Inc. (“Google”) tarafından sağlanan bir web mantıksal analiz hizmeti olan Google Analytics kullanmaktadır. Google Analytics, web sitesinin kullanıcıların siteyi nasıl kullandıklarını analiz etmesine yardımcı olmak amacıyla bilgisayarınıza yerleştirilen metin dosyaları şeklinde “çerezler” kullanmaktadır. Web sitesini kullanımınızla ilgili bir çerez tarafından üretilen bilgiler (IP adresiniz de dahil olmak üzere) Amerika Birleşik Devletleri’nde bulunan sunucular üzerinde Google’a iletilecek ve onun tarafından depolanacaktır. Google bu bilgileri web sitesini kullanımınızı değerlendirmek, web sitesi operatörleri için web sitesi aktivitesi hakkında raporlar oluşturmak ve web sitesi aktivitesi ve internet kullanımı ile ilgili başka hizmetler sağlamak amacıyla kullanacaktır. Google kanunen bunu yapması gerektiği ya da söz konusu üçüncü şahıslar bu bilgileri Google adına işledikleri durumlarda da bu bilgileri üçüncü şahıslara iletebilir. Google IP adresinizi Google tarafından saklanan hiçbir başka veri ile ilişkilendirmeyecektir. Tarayıcınız üzerinde uygun ayarları seçerek çerezlerin kullanılmasını reddedebilirsiniz, fakat bunu yaptığınız takdirde bu web sitesini tam işlevli bir biçimde kullanamayabileceğinizi lütfen unutmayınız. Bu web sitesini kullanarak sizin hakkınızdaki bilgilerin yukarıda ortaya konan şekilde ve amaçlar doğrultusunda Google tarafından işlenmesine onay veriyorsunuz.</p>

      <p>&nbsp;</p>
      <p></p>
    </div>

  </div>

</template>

<script>
export default {
  name: 'PrivacyPolicy',
  metaInfo () {
    return {
      // if no subcomponents specify a metaInfo.title, this title will be used
      title: 'Gizlilik Politikası',
      link: [
        { rel: 'canonical', href: window.location.origin + '/gizlilik-politikasi/' }
      ]
    }
  },  
}

</script>

<style lang="scss">
  @import "../assets/scss/components/user-contract";
</style>
