<template>

  <div class="questions-wrapper section">
    <div class="section__inner">
    <container>
      <div class="subpage-header">
        <div class="subpage-header__title section__title">
          <span class="color-light-green">Sıkça Sorulan</span> Sorular
        </div>
        <p class="subpage-header__text">Türkiye'nin Ödüllü İlk Yurt Tanıtım Portalı yurtlarburada.com ile yurt bulma
          sıkıntısı sona eriyor! </p>

      </div>

      <div class="hero-search">
        <div class="hero-search__left">
          <input type="text" placeholder="Ara...">
        </div>
        <button class="button hero-search__submit green"><span class="button__wrp"><span class="button__icon"><svg
          viewBox="0 0 20 20" class="icon"><use xlink:href="/icon/icons.svg#icon-search"></use></svg></span><span
          class="button__txt">
      ŞEHİR ARA
    </span></span></button>
      </div>

      <div class="subpage-accordion text-left" v-for="(faq, $faqIndex) in faqs" :key="faq.id">
        <div class="subpage-accordion__title color-light-green">
         <p class="subpage-accordion__title-text ">{{ faq.title }}</p>
        </div>
        <div class="subpage-accordion__wrapper">
          <div class="subpage-accordion__item"
               :class="{ active : $index === currentAccordion }"
               v-for="(faq, $index) in faq.accordions"
               :key="faq.id">
            <div class="subpage-accordion__header" @click="toggle($index)">
              <div class="subpage-accordion__title">
                {{ faq.title }}
              </div>
              <span class="subpage-accordion__caret">
                    <svg-icon type="icon-arrow-down"/>
                  </span>
            </div>
            <slide-up-down :duration="600" :active="$index === currentAccordion">
              <div class="subpage-accordion__cnt" v-html="faq.text"></div>
            </slide-up-down>
          </div>
        </div>
      </div>

    </container>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Questions',
  data () {
    return {
      currentAccordion: null,
      faqs: [
        {
          id: 0,
          title: 'Hakkımızda',
          accordions: [
            {
              id: 0,
              title: 'Sağlık',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 1,
              title: 'Spor',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 2,
              title: 'Beslenme',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 3,
              title: 'Aktivite Odaları',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            }
          ]
        },
        {
          id: 1,
          title: 'Hakkımızda 2',
          accordions: [
            {
              id: 0,
              title: 'Sağlık',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 1,
              title: 'Spor',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 2,
              title: 'Beslenme',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 3,
              title: 'Aktivite Odaları',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            }
          ]
        },
        {
          id: 2,
          title: 'Hakkımızda 3 ',
          accordions: [
            {
              id: 0,
              title: 'Sağlık',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 1,
              title: 'Spor',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 2,
              title: 'Beslenme',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            },
            {
              id: 3,
              title: 'Aktivite Odaları',
              text: '<p> Kampüsümüzdeki mediko-sosyal ve psikolojik danışmanlık hizmeti verilmektedir. ' +
                  'Sağlık Merkezi\'nde 1 diş hekimi, 3 hemşire, 1 tane laboratuvar teknisyeni, 1 acil tıp ' +
                  'teknisyeni ve 1 psikolog görev yapmaktadır. <br><br> Ayrıca; A sınıfı Aile Hekimliği ' +
                  'Merkezi mevcut olup 1 Aile Hekimi hizmet vermektedir. Üniversitemizin öğrenci ve personeli' +
                  ' gerekli durumlarda bu merkezlerimize başvurarak, tıbbi muayene ve tedavi, diş ile ilgili ' +
                  'muayene ve tedavi hizmetleri ve psikolojik danışmanlık hizmeti alabilmektedirler. <br><br> ' +
                  'Ayrıca, sağlık sorunlarıyla ilgili çok sayıda tetkik yapılmaktadır. Merkezimizde acil vakalarda ' +
                  'ilk müdahale yapılmakta ve gerekli durumlarda ambulans ile en yakın hastaneye nakil sağlanmaktadır. </p>',
              active: false
            }
          ]
        }
      ]
    }
  },
  methods: {
    toggle (index) {
      if (index === this.currentAccordion) {
        this.currentAccordion = null
      } else {
        this.currentAccordion = index
      }
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/scss/components/questions";
</style>
