<template>
  <div class="custom-container">
    <div class="wrapper">
      <h1>Kullanıcı Sözleşmesi</h1>
      <p>Bu web sitesi (&nbsp;<strong>Yurtlarburada.com</strong>&nbsp;)&nbsp;<em>FXY Bilgi Teknoloji Ve Dijital Pazarlama </em>&nbsp;firmasının bir projesidir.&nbsp;<strong>Yurtlarburada.com</strong>&nbsp;öğrenci yurtları ile öğrenciler arasında&nbsp; iletişimi sağlamak üzere hizmet vermektedir. Bu websitesini ziyaret eden kullanıcılar&nbsp;<strong>Yurtlarburada.com'</strong>un bizzat konaklama ve barınma&nbsp; hizmetini veren işletme olmadığını kabul etmiş sayılırlar.&nbsp;<strong>Yurtlarburada.com</strong>&nbsp;sadece bir barınacak yer&nbsp; arayanlar ile barınma hizmeti veren yerleri buluşturan bir web sitedir.</p>

      <p>Barınma işleminin hiç bir sorumluluğu&nbsp;<strong>Yurtlarburada.com’a</strong>&nbsp;ait değildir. Bu websitesini ziyaret eden kullanıcılar alacakları barınma hizmetinden o hizmeti veren barınmanin sorumluğu olduğu bilinciyle hizmet almalıdırlar.</p>

      <p>Bu websitesi üzerinden yönlendirilen barınma hizmeti alanlar hizmet veren barınma sağlayan yerlerin&nbsp; yeterliliğini sorgulamakla mükelleftir.&nbsp;<strong>Yurtlarburada.com'</strong>un Hizmet Alan ile Hizmet Veren arasındaki teklif, icap, kabul, sözleşme ve ödeme aşamalarında herhangi bir sorumluluğu bulunmamaktadır.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;aracılığı ile barınma hizmeti alınacak hizmetlere ilişkin her türlü sorumluluk barınma hizmeti veren yere aittir.&nbsp;<strong>Yurtlarburada.com'</strong>un hiçbir sorumluluğu bulunmaz.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;barınma hizmetlerini tasdik veya tavsiye etmez, çalışma performansını ya da verilen hizmetlerin sonucu veya kalitesini garanti etmez.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;Hizmet Veren barınma yerleri ile Hizmet Alanlar arasındaki ilişkiden sorumlu olmayıp, Hizmet Veren’in sağlayacağı hizmet sırasında veya herhangi bir zamanda Hizmet Alan veya 3. kişilere vereceği zararlardan&nbsp;<strong>Yurtlarburada.com</strong>&nbsp;hiçbir sorumluluğu bulunmamaktadır.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;Hizmet Verenlerin güvenilirliği, ilgili hizmeti sağlamak için uygun ve yetkin olduğu, hizmetlerin verilmesi veya zamanında verilmesi, güvenli ve hatasız olması, hizmet kullanımından elde edilecek sonuçların yeterliliği veya güvenilirliği veya hizmet kalitesinin beklentilere cevap vermesi gibi konularında hiçbir garanti veya taahhütte bulunmamaktadır.</p>

      <p>Hizmete ilişkin olarak yürürlükteki mevzuat kapsamında temin etmesi gereken her türlü izin, onay, kontrol belgesi, ruhsat vb. belgeye ilişkin sorumluluk Hizmet Verenlere ait olup, aksi takdirde doğabilecek her türlü idari, hukuki ve cezai sorumluluk Hizmet Veren’e aittir. Yurtlarburada.com un ve 3. kişilerin bu nedenle uğradığı ve/veya uğrayacağı zararlardan sorumluluk ve her türlü zararın tazmin yükümlülüğü Hizmet Verenlere aittir.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;Hizmet Alan’a ulusal, yerel veya diğer resmi dairelerden ya da üçüncü şahıslardan gelen bilginin doğru, hatasız veya güncel olduğunu ya da Hizmet Alan’ın söz konusu bilgiyi kontrol ettiği tarihte güncel ve aktüel olduğunu beyan veya taahhüt etmemektedir.</p>

      <p><strong>Yurtlarburada.com</strong>&nbsp;ile Hizmet Veren arasında istihdam, yarı zamanlı istihdam, danışmanlık, yüklenicilik, ortak girişim veya acentelik ilişkisi bulunmamaktadır.</p>
      <p></p>
    </div>

  </div>

</template>

<script>
export default {
  name: 'user-contract'
}
</script>

<style lang="scss">
  @import "../assets/scss/components/user-contract";
</style>
