<template>
  <div class="city-list__inner">
    <container>
      <div class="city-list-result">
        <div class="result-bracket">
          <div class="result-bracket__title">
            <span class="result-bracket__count">{{notices.length}}</span>Araç İlanı Bulundu !
          </div>
        </div>
      </div>
      <DormSearchCard/>

      <div class="notice-wrapper">
        <div class="notice-box" v-for="(notice ,index) in notices" :key="notice.id"
             @click="openBox(notice,index)">
          <div class="notice-box__left">
            <img class="notice-box__left--img" :src="notice.img" alt="">
            <div class="notice-box__left-name">
                 <span class="notice-box__left-name__icon">
                      <svg-icon type="icon-headphone"/>
                    </span>
              {{ notice.owner }}
            </div>
          </div>
          <div class="notice-box__right">
            <p class="notice-box__right-location">{{ notice.location }}</p>
            <p class="notice-box__right-name">{{ notice.detail }}</p>

            <div class="price-gen">
              <div class="notice-box__right-price">{{ notice.price }} TL</div>
              <div class="notice-box__right-small">'den başlayan <br> oda fiyatları</div>
            </div>

          </div>

        </div>

      </div>

      <LightBox
        :data="lightboxData"
        @onClickNext="nextNotice"
        @onClickPrev="prevNotice"
        :index="IndexNo" v-if="display"
        @closeLightBox="closeBox"
        :is-end="IndexNo === notices.length - 1"
        :is-begin="IndexNo === 0"
      />

    </container>
  </div>
</template>

<script>
import SubpageHeader from '@/components/SubpageHeader'
import UniCard from '@/components/UniCard'
import SubpageNav from '@/components/SubpageNav'
import UniInfoCard from '@/components/UniInfoCard'
import SubpageGallery from '@/components/SubpageGallery'
import LightBox from '@/components/Notices/NoticeLightBox.vue'

export default {
  name: 'Notice',
  components: {
    SubpageHeader, UniCard, SubpageNav, UniInfoCard, SubpageGallery, LightBox
  },
  data () {
    return {
      display: false,
      lightboxData: {},
      ndexNo: null,
      pageInfo: {
        title: '<span class="color-light-green">Yurtlara  </span>Özel İlanlar',
        text: 'Baskentler baskenti olarak bilinen, önce Roma, ardindan Dogu Roma (Bizans) Imparatorlugu\n' +
            've kitalara hükmederek büyük baris cografyalari yaratmis.',
        img: null
      },
      uniInfo: {
        logo: require('@/assets/img/uni-logo/Baskent-Universitesi.jpg'),
        site: 'www.iyte.edu.tr'
      },
      links: [
        {
          id: 0,
          title: 'Alım Talepleri',
          to: '/ilanlar/alim-talepleri'
        },
        {
          id: 1,
          title: 'Eleman Arayanlar',
          to: '/ilanlar/eleman-arayanlar'
        },
        {
          id: 2,
          title: 'Araç Gereçler',
          to: '/ilanlar'
        },
        {
          id: 3,
          title: 'Araç İlanları',
          to: '/ilanlar/arac-ilanlari'
        },
        {
          id: 4,
          title: 'İş Arayanlar',
          to: '/ilanlar/is-arayanlar'
        },
        {
          id: 5,
          title: 'Satılık-Kiralık Yurtlar',
          to: '/ilanlar/satilik-kiralik-yurtlar'
        },
        {
          id: 6,
          title: 'Kiralık Binalar',
          to: '/ilanlar/kiralik-binalar'
        }
      ],
      gallery: [
        {
          id: 0,
          img: require('@/assets/img/sehir-galeri/5.jpg')
        },
        {
          id: 1,
          img: require('@/assets/img/sehir-galeri/1.jpg')
        },
        {
          id: 2,
          img: require('@/assets/img/sehir-galeri/2.jpg')
        },
        {
          id: 3,
          img: require('@/assets/img/sehir-galeri/3.jpg')
        },
        {
          id: 4,
          img: require('@/assets/img/sehir-galeri/4.jpg')
        }
      ],
      notices: [
        {
          id: 0,
          img: 'https://www.yurtlarburada.com/Resimler/SeriIlanlar/Buyuk/533716083-27-12-2010.jpg',
          location: 'Pendik, İstanbul',
          detail: 'Kocaeli Renault Master Van 2,5 DCI',
          price: 290,
          owner: 'Alican Kazgan',
          tel: '0532 106 59 11',
          text: 'İstanbul 3 \'ün en şirin ilçesi Kartal Cevizli’ de güven, konfor ,5 yıldızlı otel rahatlığını yaşayacağınız Residence'
        },
        {
          id: 1,
          img: 'https://www.yurtlarburada.com/Resimler/SeriIlanlar/Buyuk/9621545672-23-12-2010.jpg',
          location: 'Ankara',
          detail: ' Sahibinden Orjinal Transporter Minibüs',
          price: 290,
          owner: 'Serkan Güngör',
          tel: '0532 106 59 11',
          text: 'İstanbul 3 \'ün en şirin ilçesi Kartal Cevizli’ de güven, konfor ,5 yıldızlı otel rahatlığını yaşayacağınız Residence'
        },
        {
          id: 2,
          img: 'https://www.yurtlarburada.com/Resimler/SeriIlanlar/Buyuk/3986932635-27-12-2010.jpg',
          location: 'Ordu, Merkez / Subaşı Mahallesi',
          detail: 'Masrafsız Minibüs',
          price: 290,
          owner: 'Taner Türkmen',
          tel: '0532 106 59 11',
          text: 'İstanbul 3 \'ün en şirin ilçesi Kartal Cevizli’ de güven, konfor ,5 yıldızlı otel rahatlığını yaşayacağınız Residence'
        }
      ]
    }
  },
  methods: {
    toggle (index) {
      this.accordions[ index ].active = !this.accordions[ index ].active
    },
    openBox (item, index) {
      this.display = true
      this.lightboxData = item
      this.IndexNo = index
    },
    closeBox () {
      this.display = false
      this.lightboxData = []
    },

    nextNotice () {
      this.lightboxData = []
      this.IndexNo++

      this.lightboxData = this.notices[this.IndexNo]
    },
    prevNotice () {
      this.lightboxData = []
      this.IndexNo--
      this.lightboxData = this.notices[ this.IndexNo ]
    }

  }

}
</script>

<style scoped>

</style>
