<template>
<div class="dorm-tab">
  <div class="dorm-tab__header">
    <DormTabNav :tabs="tabs"/>

    <div class="mobile-dropdown" @click="edit">
       <span class="filtre">
          <svg-icon type="icon-filter"/>
       </span>
      <select-box title="Yurtları Filtrele"/>
    </div>
    <div class="section__right" v-if="show">
      <div class="section__select">
        <select-box :options="cities" title="Şehir Seçinizz"/>
      </div>

      <div class="section__select">
        <select-box :options="dormTypes" title="Yurt Tipi Seçiniz"/>
      </div>
    </div>

    <div class="desktop-drop">
      <div class="section__right">
        <div class="section__select" v-if="cities">
          <select-box :options="cities" title="İlçe Seçiniz" @onselect="selectCity"/>
        </div>
      </div>
    </div>

  </div>

  <div class="dorm-tab__list" v-if="dorms">
    <div
      v-for="(dorm, index) in dorms"
      :key="dorm.id"
      class="dorm-tab__col col-xl-3 col-lg-3 col-md-3"
      :class="{ 'col-xl-6 col-lg-6 col-md-6' : index === 0 }">
      <dorm-card :dorm="dorm"/>
    </div>
    <Advert/>
    <!--<AdvertVertical />-->
  </div>
</div>
</template>

<script>
import SelectBox from '@/components/SelectBox'
import DormCard from '@/components/DormCard'
import Advert from '@/components/Advert'
import DormTabNav from '@/components/City/DormTabNav'

export default {
  name: 'DormTab',
  props: {
    cities: Array,
    dorms: Array
  },
  components: {
    SelectBox, DormCard, Advert, DormTabNav
  },
  data () {
    return {
      show: false,
      city: [
        {
          label: 'İstanbul / Avrupa Yakası',
          value: 'istanbul-avrupa',
          selected: false
        },
        {
          label: 'İstanbul / Anadolu Yakası',
          value: 'istanbul-anadolu',
          selected: false
        },
        {
          label: 'İzmir',
          value: 'izmir',
          selected: false
        },
        {
          label: 'Ankara',
          value: 'ankara',
          selected: false
        },
        {
          label: 'Diyarbakır',
          value: 'diyarbakir',
          selected: false
        },
        {
          label: 'Eskişehir',
          value: 'eskisehir',
          selected: false
        },
        {
          label: 'Adana',
          value: 'adana',
          selected: false
        },
        {
          label: 'Çorum',
          value: 'corum',
          selected: false
        },
        {
          label: 'Konya',
          value: 'konya',
          selected: false
        }
      ],
      dormTypes: [
        {
          name: 'Erkek Yurtları',
          value: 'erkek'
        },
        {
          name: 'Kız Yurtları',
          value: 'kiz'
        }
      ],
      tabs: [
        {
          id: 2,
          typeID: 2,
          cat: 'female',
          title: '<span class="color-pink">Kız  <literal> Öğrenci </literal></span> Yurtları',
          icon: require('@/assets/img/icon-female.svg'),
          active: true
        },
        {
          id: 1,
          typeID: 1,
          cat: 'male',
          title: '<span class="color-blue">Erkek<literal> Öğrenci</literal></span> Yurtları',
          icon: require('@/assets/img/icon-male.svg'),
          active: false
        }
      ]
    }
  },

  methods: {
    edit () {
      this.show = !this.show
    },
    selectCity (opt) {
      // console.log(opt)
      const slug = this.$route.params.slug
      this.$router.push({ name: 'CityDistrict', params: { slug: slug, district: opt.slug } })
      // this.$emit('selectCity', opt)
    }
  }
}
</script>

<style lang="scss">
@import "../../assets/scss/components/dorm-tab";
</style>
