<template>
  <div class="banner-wrp">
    <div class="row">
      <div class="col-xs-12 col-md-12 banner">
        <a href="javascript:;">
          <div class="banner__item">
            <div class="banner__item-slogan">
              <div class="banner__logo">
                <img class="banner__logo-img" src="@/assets/img/yurt-logo-1.png" alt="">
              </div>
              <div class="banner__item-text">
                <h3 class="banner__item-title">Kayıt gününe özel</h3>
                <p class="banner__item-price">% 25 İNDİRİM</p>
              </div>
            </div>
            <div class="banner__item-rightSlogan">
            </div>
            <div class="row">
              <div class="col-md-12 banner__item-right">
                <div class="banner__item-right-image">
                  <div class="dorm-card__bottom">
                    <div class="dorm-gen">
                      <div class="dorm-one">
                        <div class="dorm-card__inf">
                          <div class="icon-font">
                            <svg class="icon">
                              <use xlink:href="/icon/icons.svg#icon-bed"></use>
                            </svg>
                          </div>
                          <div class="btn-txt">
                            65 yatak
                          </div>
                        </div>

                        <div class="dorm-card__inf">
                          <div class="icon-font">
                            <svg class="icon">
                              <use xlink:href="/icon/icons.svg#icon-food"></use>
                            </svg>
                          </div>
                          <div class="btn-txt">
                            2 öğün
                          </div>
                        </div>
                      </div>

                      <div class="dorm-two">
                        <div class="dorm-card__inf">
                          <div class="icon-font">
                            <svg class="icon">
                              <use xlink:href="/icon/icons.svg#icon-bed"></use>
                            </svg>
                          </div>
                          <div class="btn-txt">
                            65 yatak
                          </div>
                        </div>

                        <div class="dorm-card__inf">
                          <div class="icon-font">
                            <svg class="icon">
                              <use xlink:href="/icon/icons.svg#icon-food"></use>
                            </svg>
                          </div>
                          <div class="btn-txt">
                            2 öğün
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="banner-image-center">
                    <img class="banner__item-right--img"
                         src="../assets/img/dorm-big.jpg"
                         alt="">
                  </div>

                </div>
                <div class="banner__item-light"></div>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'AdvertVertical'
}
</script>

<style lang="scss" scoped>
  @import "../assets/scss/components/advert-vertical";
</style>
