<template>
  <div class="featured-dorms section">
    <container>
      <div class="section__header">
        <div class="section__title">
          <span class="color-pink">Kız Öğrenci</span> Yurtlarıı
        </div>
        <div class="section__title">
          <span class="color-blue">Erkek Öğrenci</span> Yurtları
        </div>
        <div class="section__right">
          <div class="section__select">
            <select-box :options="city" title="Şehir Seçiniz"/>
          </div>

          <div class="section__select">
            <select-box :options="university" title="Üniversite Seçiniz"/>
          </div>

          <div class="section__select">
            <select-box :options="dormTypes" title="Yurt Tipi Seçinizz"/>
          </div>
        </div>
      </div>

      <div class="featured-dorms__cnt">
        <div class="featured-dorms__list dorm-card__list">
          <div
            v-for="dorm in dorms"
            :key="dorm.id"
            class="featured-dorms__col col-xl-3 col-lg-3 col-md-3">
            <dorm-card
              :dorm="dorm"
            />
          </div>
        </div>

        <div class="featured-dorms__bottom text-center">
          <v-link
            to="/yurtlar"
            class="button--stroke round icon-transform"
            title="Tümünü Gör"
            icon="icon-arrow-long-right"
            icon-position="right"
          />
        </div>
      </div>

    </container>
  </div>
</template>

<script>
import DormCard from '@/components/DormCard'
import SelectBox from '@/components/SelectBox'
export default {
  name: 'CityDormCard',
  components: {
    DormCard, SelectBox
  },
  data () {
    return {
      city: [
        {
          label: 'İstanbul / Avrupa Yakası',
          value: 'istanbul-avrupa',
          selected: false
        },
        {
          label: 'İstanbul / Anadolu Yakası',
          value: 'istanbul-anadolu',
          selected: false
        },
        {
          label: 'İzmir',
          value: 'izmir',
          selected: false
        },
        {
          label: 'Ankara',
          value: 'ankara',
          selected: false
        },
        {
          label: 'Diyarbakır',
          value: 'diyarbakir',
          selected: false
        },
        {
          label: 'Eskişehir',
          value: 'eskisehir',
          selected: false
        },
        {
          label: 'Adana',
          value: 'adana',
          selected: false
        },
        {
          label: 'Çorum',
          value: 'corum',
          selected: false
        },
        {
          label: 'Konya',
          value: 'konya',
          selected: false
        }
      ],
      university: [
        {
          label: 'Abant İzzet Baysal Üniversitesi',
          value: 'izzet-baysal',
          selected: false
        },
        {
          label: 'Adana Bilim ve Teknoloji Üniversitesi',
          value: 'adana-bilim-teknoloji',
          selected: false
        },
        {
          label: 'Adıyaman Üniversitesi',
          value: 'adiyaman',
          selected: false
        },
        {
          label: 'Adnan Menderes Üniversitesi',
          value: 'adnan-menderes',
          selected: false
        },
        {
          label: 'Dicle Üniversitesi',
          value: 'dicle',
          selected: false
        },
        {
          label: 'Afyonkarahisar Sağlık Bilimleri Üniversitesi',
          value: 'afyonkarahisar',
          selected: false
        },
        {
          label: 'Ağrı-İbrahim',
          value: 'agri-ibrahim',
          selected: false
        },
        {
          label: 'Akdeniz Üniversitesi',
          value: 'akdeniz',
          selected: false
        },
        {
          label: 'Amasya Üniversitesi',
          value: 'amasya',
          selected: false
        }
      ],
      dormTypes: [
        {
          label: 'Erkek Yurtları',
          value: 'erkek',
          selected: false
        },
        {
          label: 'Kız Yurtları',
          value: 'kiz',
          selected: false
        }
      ],
      dorms: [
        {
          id: 1,
          cover: require('@/assets/img/yurt-img-2.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '100 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 2,
          cover: require('@/assets/img/yurt-img-3.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '100 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 3,
          cover: require('@/assets/img/yurt-img-4.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 4,
          cover: require('@/assets/img/yurt-img-2.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: true,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 5,
          cover: require('@/assets/img/yurt-img-1.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 6,
          cover: require('@/assets/img/yurt-img-1.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: true,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 7,
          cover: require('@/assets/img/yurt-img-4.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        },
        {
          id: 8,
          cover: require('@/assets/img/yurt-img-1.jpg'),
          location: 'Pendik, İstanbul',
          name: 'Özel Ardıçlar Yüksek Öğrenim Erkek Öğrenci Yurdu',
          price: '290',
          premium: false,
          type: 'female',
          features: [
            {
              type: 'bed',
              title: '65 yatak'
            },
            {
              type: 'food',
              title: '2 öğün'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "../assets/scss/components/featured-dorms";
</style>
