<template>
<div class="dorm-tab">
  <div class="dorm-tab__header">

    <div class="dorm-tab__left">
      <div class="dorm-tab__left-item" v-for="tab in tabs" :key="tab.id">
        <dorm-tab-comp :data="tab"/>
      </div>
    </div>

    <div class="mobile-dropdown" @click="edit">
   <span class="filtre">
      <svg-icon type="icon-filter"/>
   </span>
      <select-box-filter title="Yurtları Filtrele"/>
    </div>
    <div class="section__right" v-show="show">
      <div class="section__select">
        <select-box-filter :options="cities" title="Şehir Seçiniz"/>
      </div>

      <div class="section__select">
        <select-box-filter :options="dormTypes" title="Yurt Tipi Seçiniz"/>
      </div>
    </div>

    <div class="desktop-drop">
      <div class="section__right">
        <div class="section__select">
          <select-box-filter :options="cities" title="İlçe Seçiniz"/>
        </div>
      </div>
    </div>
  </div>

  <div class="dorm-tab__list">
    <h2 class="color-purple" v-if="dorms.length === 0">
      Sonuç Yok
    </h2>
    <div
      v-for="dorm in dorms"
      :key="dorm.id"
      class="dorm-tab__col"
      :class="[dorm.premium ? 'col-xl-6 col-lg-6 col-md-6' : 'col-xl-3 col-lg-3 col-md-3']">
      <dorm-card
        :dorm="dorm"
      />

    </div>
    <Advert/>
    <!--<AdvertVertical />-->
  </div>
</div>
</template>

<script>
import SelectBoxFilter from '@/components/SelectBoxFilter'
import DormCard from '@/components/DormCard'
import Advert from '@/components/Advert'
import DormTabComp from '@/components/DormTabComp'

export default {
  name: 'DormTab',
  props: {
    cities: Array,
    dorms: Array
  },
  components: {
    SelectBoxFilter, DormCard, Advert, DormTabComp
  },
  data () {
    return {
      show: false,

      city: [
        {
          label: 'İstanbul / Avrupa Yakası',
          value: 'istanbul-avrupa',
          selected: false
        },
        {
          label: 'İstanbul / Anadolu Yakası',
          value: 'istanbul-anadolu',
          selected: false
        },
        {
          label: 'İzmir',
          value: 'izmir',
          selected: false
        },
        {
          label: 'Ankara',
          value: 'ankara',
          selected: false
        },
        {
          label: 'Diyarbakır',
          value: 'diyarbakir',
          selected: false
        },
        {
          label: 'Eskişehir',
          value: 'eskisehir',
          selected: false
        },
        {
          label: 'Adana',
          value: 'adana',
          selected: false
        },
        {
          label: 'Çorum',
          value: 'corum',
          selected: false
        },
        {
          label: 'Konya',
          value: 'konya',
          selected: false
        }
      ],
      dormTypes: [
        {
          name: 'Erkek Yurtları',
          value: 'erkek'
        },
        {
          name: 'Kız Yurtları',
          value: 'kiz'
        }
      ],
      tabs: [
        {
          id: 2,
          typeID: 2,
          cat: 'female',
          title: '<span class="color-pink">Kız <literal> Öğrenci </literal></span> Yurtları',
          icon: require('@/assets/img/icon-female.svg'),
          active: true
        },
        {
          id: 1,
          typeID: 1,
          cat: 'male',
          title: '<span class="color-blue">Erkek <literal> Öğrenci</literal></span> Yurtları',
          icon: require('@/assets/img/icon-male.svg'),
          active: false
        }
      ]
    }
  },

  methods: {
    edit () {
      this.show = !this.show
    },
    select () {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../assets/scss/components/dorm-tab";
</style>
