<template>
<div :class="{ stickyTab : fixedForm }" ref="dormForm" :style="formOffset" class="sticky-nav">
  <container>
    <div class="sticky-nav__list">
      <div class="sticky-nav__item" v-for="tab in tabsMenu" :key="tab.id" :class="{'active': isActive} ">
        <v-button
          class="sticky-nav__link"
          :title="tab.title"
          :class="{ active : n === 1 }"
        />
      </div>
    </div>
  </container>
</div>
</template>

<script>
export default {
  name: 'DormDetailTabs',
  data () {
    return {
      isActive: false,
      formWidth: null,
      fixedForm: false,
      formOffset: {
        top: 23 + 'px',
        left: 0
      },
      fixed: false,
      showForm: true,
      tabsMenu: [
        {
          id: 0,
          title: 'Oda Tipleri'
        },
        {
          id: 1,
          title: 'Özellikler'
        },
        {
          id: 2,
          title: 'Harita'
        },
        {
          id: 3,
          title: 'Yorumlar'
        }
      ]
    }
  },
  methods: {
    handleScroll () {
      let windowY = window.scrollY
      let contentOffsetTop = this.$refs.dormContent.offsetTop
      let contentOffsetTop2 = this.$refs.property.offsetTop

      if (windowY >= contentOffsetTop - 78) {
        this.fixedForm = true
      } else {
        this.fixedForm = false
      }

      if (windowY >= contentOffsetTop2 - 78) {
        this.isActive = true
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  mounted () {
    this.setOffsets()
  }
}
</script>

<style scoped>

</style>
