<template>
<div>
  <button
    class="dorm-tab__button"
    :class="{ 'active' : isActive, 'male' : data.cat === 'male', 'female' : data.cat === 'female' }"
    @click="select">
      <span class="button__wrp" style="font-size: 28px">
        <span class="dorm-tab__icon">
          <img :src="data.icon" alt="" class="icon">
        </span>
        <span class="dorm-tab__txt">
          <span v-html="data.title" style="font-size: 18px; margin-left: -12px;">{{data.title}}</span>
        </span>
      </span>
  </button>
</div>
</template>

<script>
export default {
  name: 'DormTabComp',
  props: {
    data: Object
  },
  data () {
    return {
      isActive: false,
      currentTab: null
    }
  },
  methods: {
    edit () {
      this.show = !this.show
    },
    select () {
      this.isActive = !this.isActive
    }
  }
}
</script>

<style scoped>

</style>
