<template>
  <div class="select" v-on-clickaway="closeSelect" :class="[ selectOpen ? 'active' : '' ]">
    <div class="select-header"
         :class="[ selected || currentOption !== null ? 'active' : '', selectOpen ? 'open' : '' ]"
         @click="selectToggle">
      <div class="select__title" v-if="currentOption === null">
        {{ title }}
      </div>
      <div class="select__title" v-if="currentOption !== null">
        {{ options[currentOption].name }}
      </div>

      <span class="select__caret">
        <svg-icon type="icon-arrow-down"/>
      </span>
    </div>
    <div class="select__wrp" :class="[ selectOpen ? 'active' : '' ]">
      <input type="text" class="select__list-search" placeholder="Seçiniz" v-model="search">
      <div class="select__list">

        <div
          class="select__option"
          v-for="(option, index) in options"
          :key="index"
          :data-value="option.value"
          :selected="index === currentOption"
          :class="[ index === currentOption ? 'selected' : '' ]"
          @click="selectItem(index,option.value)"
        >
          <span class="icon-font" v-if="option.icon">
            <img :src="option.icon" alt="" class="icon">
          </span>

          <div class="select__option-title">
            {{ option.name }}
          </div>

        </div>
      </div>
    </div>

    <select hidden>
      <option
        v-for="(option, $index) in options"
        :key="$index"
        :value="option.value"
        :selected="currentOption === $index"
      >
        {{ option.name }}
      </option>
    </select>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
export default {
  mixins: [ clickaway ],
  name: 'SelectBoxFilter',
  components: {
  },
  data () {
    return {
      search: '',
      // title: 'Seçiniz',
      currentOption: null,
      selected: false,
      selectOpen: false,
      name: ''
    }
  },
  props: {
    options: {
      type: Array,
      require: true
    },
    icon: Boolean,
    title: {
      type: String,
      default: 'Seçiniz'
    }
  },
  methods: {
    selectItem (index, value) {
      this.currentOption = index
      //
      // this.options[index].selected = true

      // this.title = this.options[index].name
      this.selected = true
      this.selectOpen = false
      this.$emit('onselect', this.options[index])
    },
    selectToggle () {
      this.selectOpen = !this.selectOpen
    },
    closeSelect () {
      this.selectOpen = false
    }
  }
}
</script>

<style lang="scss">
  @import "../assets/scss/components/selectbox";
</style>
