<template>
  <div class="dorm-accordion__item" :class="{ active : active }">
    <div class="item" :class="{ active : active }">
      <div class="dorm-accordion__header">
        <div class="dorm-accordion__title" @click="toggle">
          {{ item.title }}
        </div>
        <div class="dorm-accordion__right">
          <label class="dorm-accordion-price" v-for="(price, $index) in item.prices" :key="price.id">
            <input type="radio" class="dorm-accordion-price__input" name="price">
            <span class="dorm-accordion-price__item"
                 @click.stop="changePrice(item, price)">
              <span class="dorm-accordion-price__circle"></span>
              <span class="dorm-accordion-price__title">
                <strong> {{ price.price }} TL </strong>
                <small>x {{ price.period }}</small>
              </span>
            </span>
          </label>
        </div>
      </div>

      <slide-up-down :duration="600" :active="active">
        <div class="dorm-accordion__content">
          <div class="dorm-accordion-gallery">
            <img src="@/assets/img/galeri/gallery-1.jpg" alt="" class="dorm-accordion-gallery__img">
            <div class="dorm-accordion-gallery__overlay">
               <span class="dorm-accordion-gallery__icon">
                   <svg-icon type="icon-gallery"/>
               </span>
              <div class="dorm-accordion-gallery__title">12 Görsel</div>
            </div>
          </div>
          <div class="dorm-inf list-col-2">
            <div class="dorm-inf__item"
                 v-for="(type) in item.types" :key="type.id"
                 :class="[ type.state ? 'enable' : 'disable' ]">
                 <span class="dorm-inf__icon">
                      <svg-icon :type="type.icon"/>
                 </span>
              <span class="dorm-inf__title">{{ type.title }}</span>
            </div>
          </div>
        </div>
      </slide-up-down>

    </div>
  </div>
</template>

<script>
export default {
  name: 'DormAccordionItem',
  props: {
    item: Object
  },
  data () {
    return {
      active: false,
      currentPrice: null
    }
  },
  methods: {
    toggle () {
      this.active = !this.active
    },
    changePrice (item, price) {
      if (this.active) {
        this.$emit('onPriceChange', item, price)
      }
    }
  }
}
</script>

<style scoped>

</style>
