<template>
  <div class="dorm-top__wrp" ref="dormContent">
    <container>
      <div class="dorm-top">
        <div class="dorm-top__content">
          <div class="dorm-header">
            <div class="dorm-header__top">
              <div class="dorm-header-logo">
                <img src="@/assets/img/campuscity-logo.png" alt="" class="dorm-header-logo__img">
              </div>
              <div class="dorm-header__content">
                <div class="dorm-header__title">
                  Academia Seyrantepe Kız Öğrenci Yurdu
                </div>
                <div class="dorm-header-loc">
                  <span class="dorm-header-loc__icon">
                    <svg-icon type="icon-location" />
                  </span>
                  <div class="dorm-header-loc__title">Kartal, İstanbul</div>
                </div>
              </div>
              <div class="dorm-header-price">
                <div class="dorm-header-price__title">
                  290.000 TL
                </div>
                <span class="dorm-header-price__txt">
                  'den başlayan oda fiyatları
                </span>
              </div>

              <div class="right-mobile" style="display: none">
                <div class="dorm-form-buttons">
                  <button class="button dorm-form-buttons__item circle round white color-gray"><span class="button__wrp"><span
                    class="button__icon"><svg class="icon"><use
                    xlink:href="/icon/icons.svg#icon-heart"></use></svg></span></span></button>
                  <button class="button dorm-form-buttons__item circle round white color-gray"><span class="button__wrp"><span
                    class="button__icon"><svg class="icon"><use
                    xlink:href="/icon/icons.svg#icon-share"></use></svg></span></span></button>
                </div>
              </div>

            </div>

            <div class="dorm-gallery custom-container" style="padding-left: 0;
    padding-right: 0;">

            </div>

            <div class="dorm-header__bottom">
              <div class="dorm-header-inf">
                <div class="dorm-header-inf__item" v-for="n in 3" :key="n">
                    <span class="dorm-header-inf__icon">
                      <svg-icon type="icon-bed" />
                    </span>
                  <div class="dorm-header-inf__txt">100 yatak</div>
                </div>
              </div>

              <div class="dorm-header-customer">
                <div class="dorm-header-customer__cnt">
                  <div class="dorm-header-customer__name">Mehmet Kolay</div>
                  <div class="dorm-header-customer__branch">Müşteri Sorumlusu</div>
                </div>
                <span class="dorm-header-customer__icon">
                    <svg-icon type="icon-headphone" />
                  </span>
              </div>
            </div>
          </div>
          <div class="dorm-top__cnt">
            <p class="dorm-top__txt">
              İstanbul'un en şirin ilçesi Kartal Cevizli’ de güven, konfor ,5 yıldızlı otel rahatlığını yaşayacağınız Residence
              dairelerimizi hizmetinize sunuyoruz.Residence binamız T.C.Bayındırlık Bakanlığı standartları, deprem ve
              yangın yönetmeliklerine göre projelendirilmiştir.
              <br><br>
              REİS Residance 5 yıldızlı otel kalitesinde özellikle işinize ve derslerinize odaklanmanızı sağlamak amacıyla
              küçük ailelere, mesleki stajerlere, memurlar  ve talebeler  için planlanmış 50-70-100 m2 dairelerimizle sizlere
              alıştığınız ev sıcaklığını yaşatmayı hedeflemektedir. Binamız 2015 yılında inşa edilmiştir.
            </p>

            <v-button
              class="button--more dorm-top__button"
              title="Devamını Oku"
              icon="icon-arrow-long-right"
              icon-position="right"
            />

          </div>
        </div>

        <div class="dorm-top__left" ref="dormRight">
          <DormForm :fixed-form="fixedForm" :form-offset="formOffset" ref="dormForm" />
        </div>
      </div>
    </container>
  </div>
</template>

<script>
import GalleryThumb from '@/components/GalleryThumb'
import DormForm from '@/components/Dorm/DormForm'

export default {
  name: 'DormHeader',
  components: {
    GalleryThumb,
    DormForm
  },

  data () {
    return {
      tabs: [
        {
          id: 0,
          title: 'DÖNEMLİK',
          active: true
        },
        {
          id: 1,
          title: 'GÜNLÜK',
          active: false
        }
      ],
      roomTypes: [
        {
          name: '2 Kişilik Lüks',
          value: 'two'
        },
        {
          name: '3 Kişilik Lüks',
          value: 'three'
        },
        {
          name: '4 Kişilik Normal',
          value: 'four'
        },
        {
          name: '5 Kişilik Fakir Odası',
          value: 'five'
        }
      ],
      formWidth: null,
      fixedForm: false,
      formOffset: {
        top: 23 + 'px',
        left: 0
      },
      pricePerDay: 90,
      pricePerMonth: 290,
      priceTypeMonth: true
    }
  },
  methods: {
    changePrice (index) {
      this.tabs.forEach((item) => {
        item.active = false
      })
      this.tabs[index].active = true
      this.priceTypeMonth = !this.priceTypeMonth
    },
    setOffsets () {
      this.formWidth = this.$refs.dormForm.offsetWidth
    },
    handleScroll () {
      let windowY = window.scrollY
      let contentOffsetTop = this.$refs.dormContent.offsetTop
      let contentOffsetLeft = this.$refs.dormContent.offsetLeft + this.$refs.dormRight.offsetLeft

      if (windowY >= contentOffsetTop) {
        this.fixedForm = true
        this.formOffset.left = contentOffsetLeft + 'px'
        this.formOffset.top = 10 + 'px'
      } else {
        this.fixedForm = false
        this.formOffset.left = 0
        this.formOffset.top = 23 + 'px'
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
  },
  mounted () {
    this.setOffsets()
  }
}
</script>

<style lang="scss">
  @import "../../assets/scss/components/dorm-form";
</style>
